<!DOCTYPE html>
<html lang="en">
<style>
 </style>
<section id="header-bg2">
                    <h1 class="display-4 lh-1 mb-4 "> 
                    Search Engine optimisation(SEO)
                    </h1> 
                </span>
                <span>
                    <h1 class="display-4 lh-1 mb-4"> 
                        </br>    
                        </br>    
                    Obtainnig the relevant domain.   
                    </h1> 
                </span>
                <span>
                    <h1 class="display-4 lh-1 mb-4"> 
                        </br>    
                        </br>    
                   Social media integration.
                    </h1> 
                </span>
</section>
