<!DOCTYPE html>
<html lang="en">
<section class="bg-light">
            <div class="py-5 text-center text-black">
                <div class="row py-5">
                        <div class="mx-auto col-lg-10">
                            <p class="text-center" id="demo2">Copyright ©2021 MicrometreUK.</p>
                            <script type="text/javascript">
                                var d = new Date();
                                document.getElementById("demo2").innerHTML = 
                                "Copyright &copy" + d.getFullYear() + 
                                "MicrometreUK."
                            </script>
                        </div>
                </div>
            </div>
        <section>
   </body>
</html>

