<!DOCTYPE html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Designed and hosted by MicrometreUK.">
    <title>MicrometreUK Complete solutions for marketing your business.</title>
    <link rel="icon" type="logos/umlogo.gif" href="img/logos/umlogo.gif" />
    <!--rel="stylesheet preconnect" 
    crossorigin="anonymous"-->
    <link rel="stylesheet preconnect" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&amp;display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js"></script>
