<!DOCTYPE html>
<html lang="en">
<style>
#services2{

}
</style>
<section id="services2">
    <div class="container pt-md-1 pb-md-4">
      <div class="row">
        <div class="col-xl-8">
          <h1 class="bd-title mt-0">
Alignment of marketing material across various mediums.
          </h1>
          <p class="bd-lead">
          </p>
        </div>
        </div>
      </div>
      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <h3>
            </h3>
            <p>
            Obtainnig the relevant domain name
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h3>
            </h3>
            <p>
            Search Engine optimisation (SEO).
            <p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>
            </h2>
            <p>
            Social media integration.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
